SnowQueen.TestTask.DataComparer/Connected Services/ProductsWebService/ProductsWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
</xs:schema>