SnowQueen.TestTask.WPF/Connected Services/ProductsWebService/ProductsWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53106/ProductsWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" />
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" minOccurs="0" name="productDto" nillable="true" type="q1:ProductDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeveralProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" minOccurs="0" name="productDtos" nillable="true" type="q2:ArrayOfProductDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSeveralProductsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnowQueen.TestTask.WCFService" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProductDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>